body {
  transition: background 5s ease;
}

.roll {
  display: flex;
  justify-content: flex-start;
  transition: all 0.2s ease;
  width: 65.3333333333vw;
  margin-left: -4.4444444444vw;
  position: relative;
}

.roll:after {
  content: "";
  display: block;
  position: absolute;
  top: 90%;
  width: 105%;
  height: 5vw;
  background: var(--roll-after-bg-color);
  z-index: 0;
  border-radius: 2vw;
}

.slice {
  flex: none;
  height: 20vw;
  width: 8.8888888889vw;
  background: linear-gradient(
    var(--slice-bg-gradient-start) 60%,
    var(--slice-bg-gradient-end) 60%
  );
  box-sizing: border-box;
  position: relative;
  transition: all 0.2s ease;
  cursor: pointer;
  margin: 0 1vw;
  z-index: 1; 
   will-change: transform;
  
}

.slice:hover {
  transform: translateY(-1vh);
}

.slice:before,
.slice:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8.8888888889vw;
  border-radius: 100%;
  background: linear-gradient(
    var(--slice-bg-gradient-start) 60%,
    var(--slice-bg-gradient-end) 60%
  );
}

.slice:before {
  left: -4.4444444444vw;
}

.slice:after {
  right: -4.4444444444vw;
  background-image: radial-gradient(var(--slice-after-gradient-colors));
  border: 0.5vw solid var(--slice-bg-gradient-end);
  box-shadow: inset -0.5vw -0.5vw var(--slice-hover-shadow-color);
}

.slice.removing {
  animation: drop-slice 0.7s ease-in;
}

.slice.adding {
  animation: add-slice 0.5s ease-in;
}

@keyframes drop-slice {
  80% {
    transform: translateY(75vh);
    width: 8.8888888889vw;
    visibility: visible;
  }
  100% {
    transform: translateY(75vh);
    width: 0;
    visibility: hidden;
  }
}

@keyframes add-slice {
  0% {
    transform: translateX(50vw);
    visibility: hidden;
  }
  100% {
    transform: translateX(0);
    visibility: visible;
  }
}
